.paralaxSection2 {
  display: flex;
}

.parallax {
  /* The image used */
  min-height: 300px;
  padding: 5% 0%;
  /* Set a specific height */
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.paralaxInfo {
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.paralaxInfo p {
  width: 100%;
}

.paralaxContainerLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.projectImage {
  width: 50%;
  display: "flex";
  border: black 0.5px solid;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .paralaxSection2 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .paralaxInfo {
    width: 80%;
  }
  .parallax {
    width: 100%;
  }
  .projectImage {
    width: 100%;
    order: 0 !important;
  }
}
