#intro {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}
.side1 {
  background-color: #414a6b;
  height: 92vh;
  width: 50%;
}
.side2 {
  background-color: #f8f8f8;
  height: 92vh;
  width: 50%;
}
.floatIntro {
  position: absolute;
  z-index: 0;
  font-size: 90px;
  width: 95%;
  overflow: hidden;
}
.floatIntro h1 {
  background-color: transparent;
}

.introParagraph {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  color: #f8f8f8;
  padding-right: 10%;
  padding-left: 10%;
}
