.logo {
  height: 50px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.logoText {
  float: left;
  color: black;
  padding: 0px 16px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
