.footer {
  height: 100px;
  background-color: #414a6b;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}
.footer h1 {
  color: white;
}
.footer span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer button {
  width: 100px;
  height: 25px;
  background-color: white;
  color: #414a6b;
  outline: none;
  justify-content: center;
}
