.overlayContact {
  height: 0%;
  width: 100%;
  z-index: 1;
  top: 0;
  transition: 0.5s;
  padding: 10% 0 10%;
  background-color: rgba(248, 242, 242, 0.747);
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
}

.overlayFormContent {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.formSection {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: #414a6b;
}
.overlayFormContent input {
  padding: 8px;
  width: 60%;
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.formSubmit {
  width: 50%;
  background-color: #f1f1f1;
  margin-top: 10px;
  outline: none;
  font-family: "Oswald", sans-serif;
}

.overlayFormContent a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlayFormContent .closebtn-contact {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.formSection input {
  width: 250px;
  height: 25px;
  text-align: left;
  color: white;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: "Oswald", sans-serif;
}

.inputSections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 20px;
}

.submit:hover {
  background-color: #414a6b;
  color: #f1f1f1;
}
.submit:active {
  background-color: #f1f1f1;
  color: #414a6b;
}

.formSection textarea {
  background-color: #f1f1f1;
  font-family: "Oswald", sans-serif;
  color: #414a6b;
  font-size: 16px;
}

#contact button {
  background-color: white;
  color: #414a6b;
  height: 69%;
  width: 28%;
}
#contact button:hover {
  background-color: #414a6b;
  color: #f1f1f1;
}
#contact button:active {
  background-color: #f1f1f1;
  color: #414a6b;
}
